* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25%;
  }
  .top_div {
    height: 15%;
    width: 80%;
    background-color: aqua;
    display: flex;
  }
  /* box 1 starts here------------------- */
  .box {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .orange {
    background-color: #faa000;
  }
  .pink {
    background-color: #df4800;
  }
  .red {
    background-color: #cc1315;
  }
  .light_brown {
    background-color: #bcc1c6;
  }
  .brown {
    background-color: #7e8a8c;
  }
  /* box2 starts here---------------- */
  .bottom_div {
    height: 15%;
    width: 80%;
    background-color: aqua;
    display: flex;
  }
  .order_orange {
    background-color: #faa000;
    order: 5;
  }
  .order_pink {
    background-color: #df4800;
    order: 3;
  }
  .order_red {
    background-color: #cc1315;
    order: 1;
  }
  .order_light_brown {
    background-color: #bcc1c6;
    order: 4;
  }
  .order_brown {
    background-color: #7e8a8c;
    order: 1;
  }